layout {
    border {
        active-color "#f9b4c6aa"
        inactive-color "#a38a9035"
        urgent-color "#9b0000"
    }

    focus-ring {
        active-color "#f9b4c6aa"
        inactive-color "#a38a9040"
    }
}

overview {
    backdrop-color "#271d1f90"
}
